@font-face { font-family: Galmuri11; src: url('../fonts/Galmuri11.ttf'); } 

:root {
  --main-color: #283F76;
  --med-color: #5591D1;
  --light-color: #C1ECFD;
  --highlight-color: #F70A36;
  --text-color: #FFF6B7;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--med-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color); 
}

/*::-moz-selection {
  color: black;
  background: #b5d786;
}

::selection {
  color: black;
  background: #b5d786;
}

*/

body {
  background:url(../images/backgrounds/paper.jpg);
  position: relative;
  font-family: Galmuri11;
  font-size: 15px;
  cursor: url(https://files.catbox.moe/m8m882.png), auto !important
}

audio{
  width:1px;
  color: var(--highlight-color);
  background: var(--light-color);
  padding: 2px;
  height: 25px; 
}

/* link colors */
a {
  color: var(--text-color);
  text-decoration: underline;
}

h1{
  color: var(--highlight-color);
  text-shadow: 0 0 5px var(--highlight-color);
  
}

.header {
  text-align: center;
  margin: auto;
    margin-top: 50px;
  width: 1300px;
  font-size: 50px;
  background: url(https://files.catbox.moe/xxppjx.png);
   height:200px;
}

/*Everything goes inside this.*/
.contain {
  margin: auto;
  width: 1300px;
  height:auto;
  margin-bottom: 5px;
  background: var(--main-color);
  text-align: center;
  color: var(--text-color); /*text color*/
  position: relative;

/*border-radius: 5px;   <- rounds the corners*/
}

/*Main boxes.*/
.main {
  overflow-x: auto;
  text-align: center;
  /*border: 3px double black;*/
  margin-left: 225px;
  padding: 12px 17px;
}

.maintwo {
  overflow-x: auto;
  text-align: center;
}


.sections{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.sectionsbox {
  color: var(--main-color);
  background-color:  var(--light-color);
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 300px;
  height: 250px;
  overflow-y: auto;
}

.sections h3{
  color: var(--highlight-color);
  text-decoration: underline solid var(--main-color) 2px;
}

/*Sidebar*/
.side {
  background-color: var(--med-color);
  overflow-x: auto;
  padding: 0 10px 10px 10px;
  width: 200px;
  position: absolute;
  text-align: left;
  height: 825px;
}

.footer{
 margin: 0 auto;
  width: 1300px;
  margin-top: 10px;
  margin-bottom: 5px;
  background: var(--main-color);
  text-align: center;
  padding:5px 0 5px 5px;
  color: var(--text-color); /*text color*/
  height: auto;
}

  /* Marquee styles */

@keyframes scroll-r2l {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.scroll-r2l {
  animation: scroll-r2l 60s linear infinite;
}

@keyframes scroll-l2r {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.scroll-l2r {
  animation: scroll-l2r 60s linear infinite;
}

.marquee {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: unset;  
}

.marquee-items {
  display: flex;
  flex-shrink: 0;
  height: 100%; /* This line is extremely important to prevent bugs on some browsers such as FireFox */
  min-width: 100%;
  position: relative;
}

/* Changes to this class will only affect the children
of the marquee-items, and not all of their descendants.
Make changes here if you want spaces in-between the
marquee items or other effects and styles!*/
.marquee-items > * {
  margin: 10px 5px 10px 0;
  height: 50px;
}


.image-container-left {
	 float: left; 
	 margin-right: 20px;
   }

.image-container-right {
	 float: right; 
	 margin-left: 20px;
   }

/* nekocafe widget editing */

#nekocafe-status{
  background-color: var(--main-color);
  text-align: left;
  font-size: 10px;
  padding: 5px;
  color: var(--light-color);
}

#nekocafe-status a{
  text-decoration: none;
}

#nekocafe-pfp{
  float: left; 
  margin: 10px;
}


#nekocafe-poster{
  font-size: 14px;
}

#nekocafe-text{
  font-size: 14px;
  margin-left: 10px;
}

#NYAN_{
  max-width: 250px;
}
