body {
  background: url(../images/backgrounds/stars.gif);
  font-family: monospace;
  font-size: 14px;
}

.img1 {
  border: 1px solid white;
}

.flying {
  position: fixed;
  top: 100px;
  left: 0;
  display: flex;
  animation-name: across, float;
  animation-iteration-count: infinite, infinite;
  animation-duration: 10s, 4s;
  animation-play-state: running, running;
  transform-origin: top;
}
.flying p {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: auto;
  margin-right: 5px;
}
@keyframes across {
  0% {
    left: -200px;
  }
  100% {
    left: 1400px;
    right: -50px;
  }
}
@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -80px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

a {
  color: #05225e;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 200px 10px #000000;
  filter: opacity(100%);
  pointer-events: none;
  z-index: 1000;
}
.header {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 35px;
  height: 100%;
  width: 100%;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.53);
  background-image: -webkit-linear-gradient(
    left,
    #f00,
    #ff2b00,
    #f50,
    #ff8000,
    #fa0,
    #ffd500,
    #ff0,
    #d4ff00,
    #af0,
    #80ff00,
    #5f0,
    #2bff00,
    #0f0,
    #00ff2a,
    #0f5,
    #00ff80,
    #0fa,
    #00ffd5,
    #0ff,
    #00d5ff,
    #0af,
    #0080ff,
    #05f,
    #002aff,
    #00f,
    #2b00ff,
    #50f,
    #8000ff,
    #a0f,
    #d400ff,
    #f0f,
    #ff00d4,
    #f0a,
    #ff0080,
    #f05,
    #ff002b,
    #f00
  );
  -webkit-animation: animatedBackground_a 5s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
}

@keyframes animatedBackground_a {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500px 0;
  }
}
/*Everything goes inside this.*/
.container {
  margin: 0 auto;
  width: 800px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Main boxes.*/
.main {
  background: #6765c6;
  text-align: center;
  /*border: 3px double black;*/
  margin-left: 175px;
  padding: 12px 17px;
  margin-bottom: 35px;
  margin-top: 35px;
  border: 1px solid white;
  box-shadow:
    0 4px 8px -5px cornflowerblue,
    0 6px 20px -5px cornflowerblue;
}

/*Sidebar*/
.side {
  background: #6765c6;
  padding: 10px 12px;
  /*border: 3px double black;*/
  margin-top: 50px;
  width: 100px;
  position: fixed;
  text-align: center;
  border: 1px solid white;
  box-shadow:
    0 4px 8px -5px cornflowerblue,
    0 6px 20px -5px cornflowerblue;
}

.side img {
  /*border: 3px double black;*/
  margin: 0 auto;
  margin-left: -3px; /*border pushes it to the right otherwise*/
}

/*Prevent image overflow*/
.main img,
.side img {
  max-width: 100%;
  height: auto;
}

/*For narrower screens.*/
@media (max-width: 850px) {
  .container {
    width: 700px;
  }
  .main {
    margin-left: 175px;
  }
  .side {
    width: 100px;
  }
}

/* for sticky img, use <img src = "img.png" class = "sticky"> */
.sticky {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 200-px;
}

  /* Marquee styles */
.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  min-width: 100%;
}

.marquee__content img {
  width: 100px;
  margin: 0 5px 0 5px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

/* Enable animation */
.marquee__content {
  animation: scroll 15s linear infinite;
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

a {
  color: #30ffe8;
}
