@font-face { font-family: Galmuri11; src: url('../fonts/Galmuri11.ttf'); } 

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #C1ECFD; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5591D1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #326194; 
}

body {
  background:url(../images/backgrounds/paper.jpg);
  font-family: Galmuri11;
  font-size: 15px;
  cursor: url(https://files.catbox.moe/m8m882.png), auto !important
}

audio{
  width:1px;
  color:#F70A36;
  background: #C1ECFD;
  padding: 2px;
  height: 25px; 
}

/* link colors */
a {
  color: #FFF6B7;
}

h1{
  color: #F70A36;
  text-shadow: 0 0 5px #F70A36;
  
}

.header {
  text-align: center;
  margin: auto;
    margin-top: 50px;
  width: 1300px;
  font-size: 50px;
  background: url(https://files.catbox.moe/xxppjx.png);
   height:200px;
}

/*Everything goes inside this.*/
.contain {
  margin: auto;
  width: 1300px;
  height:auto;
  margin-bottom: 5px;
  background: #283F76;
  text-align: center;
  color: #FFF6B7; /*text color*/
  position: relative;

/*border-radius: 5px;   <- rounds the corners*/
}

/*Main boxes.*/
.main {
  overflow-x: auto;
  text-align: center;
  /*border: 3px double black;*/
  margin-left: 225px;
  padding: 12px 17px;
  
}


.sections{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.sectionsbox {
  color:#283F76;
  background-color: #C1ECFD;
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 300px;
  height: 250px;
  overflow-y: auto;
}

.sections h3{
  color:#F70A36;
  text-decoration: underline solid #283F76 2px;
}

/*Sidebar*/
.side {
  background-color: #5591D1;
  overflow-x: auto;
  padding: 0 10px 10px 10px;
  /*border: 3px double black;*/
  width: 200px;
  position: absolute;
  text-align: left;
  height: 800px;
  list-style: none;
  /*  border-right:2px solid white;*/

}

.footer{
 margin: 0 auto;
  width: 1300px;
  margin-top: 10px;
  margin-bottom: 5px;
  background: #283F76;
  text-align: center;
  padding:5px 0 5px 5px;
  color: #FFF6B7; /*text color*/
  height: auto;
}

  /* Marquee styles */
.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  min-width: 100%;
  animation: scroll 60s linear infinite;
}

.marquee__content img {
  width: 100px;
  margin: 0 5px 0 5px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

.image-container-left {
	 float: left; 
	 margin-right: 20px;
   }

.image-container-right {
	 float: right; 
	 margin-left: 20px;
   }

/* nekocafe widget editing */

#nekocafe-status{
  background-color: #283F76;
  text-align: left;
  font-size: 10px;
  padding: 5px;
  color:#C1ECFD;
}

#nekocafe-pfp{
  float: left; 
  margin: 10px;
}


#nekocafe-poster{
  font-size: 14px;
}

#nekocafe-text{
  font-size: 14px;
  margin-left: 10px;
}
