body{
    display: flex;
    margin: auto;
    position: relative;
    height: 900px;
    background-image: url(../images/backgrounds/nightSky.jpg);
}

a{
    color:rgb(164, 64, 211);
}

summary{
    margin-bottom: 10px;
    margin-top: 10px;
    color:rgb(250, 2, 188);
    font-size: 25px;
}

.container{
    background-color: rgb(10, 2, 39);
    width: 250px;
    padding-left: 20px;
    color: rgb(229, 87, 248);
}

.watch{
    float: left; 
	margin-right: 20px;
}

.list{
    float: right;
    padding: 10px;
}

.screen {
    background-image: url(../images/technical-difficulties-tenna.gif);
    background-size: cover;
    width: 610px;
    height: 510px;;
    position: absolute;
    top: 170px;
    left: 410px;
  }